spring-boot-ws-holiday/src/main/resources/META-INF/schemas/students.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://joedayz.pe/soap"
           targetNamespace="http://joedayz.pe/soap" elementFormDefault="qualified">
    <xs:element name="getStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="studentId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="student">
        <xs:sequence>
            <xs:element name="studentId" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="class" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema> 